@using PdfGenerator.Models.Resx
@model PdfGenerator.Models.StudentLCData

@{
    ViewBag.Title =SchoolLC.Details ;
}

<h2>@SchoolLC.Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdmissionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherTongue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherTongue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCaste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCaste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOBInDigits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOBInDigits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOBInWords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOBInWords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrevSchlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrevSchlName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmittedInClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmittedInClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Progress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Progress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConductBehaviour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConductBehaviour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfSchlLeaving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfSchlLeaving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassFromLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassFromLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonForLeaving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonForLeaving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateRcvdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateRcvdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedByName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(SchoolLC.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(SchoolLC.BackToList, "Index")
</p>
