@using PdfGenerator.Models.Resx
@model PdfGenerator.Models.StudentLCData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Leaving Certificate</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <style type="text/css">
        td:nth-child(odd) {
            font-size: medium;
            font-weight: 500;
            text-align: left;
            vertical-align:middle;
            font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        }

        td:nth-child(even) {
            font-size: medium;
            font-weight: 600;
            vertical-align:middle;
            font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        }
    </style>
</head>
<body>
    @*<div class="pull-right">@Html.ActionLink("Print", "Print",new { id =Model.Id})</div>*@
    <div class="div">
      
        <h2 align="center">@SchoolLC.SchoolName</h2>
        <h5>@SchoolLC.Address:</h5>
        
        <hr />
        <table class="table table-bordered table-striped">
            <tr>
                <td style="background-color:darkolivegreen;vertical-align:middle;color:white"><h4 align="Center"><i>@SchoolLC.LeavingCertificate</i></h4></td>
            </tr>

        </table>
        <table class="table table-bordered  table-striped">
            <tr>
                <td>
                    <table class="table table-bordered  table-striped">
                        <tr>
                            <td>@SchoolLC.FullName</td>
                            <td colspan="5">@Model.FullName</td>
                        </tr>
                        <tr>
                            <td> @SchoolLC.Nationality </td>
                            <td> @Model.Nationality </td>
                            <td> @SchoolLC.MotherTongue </td>
                            <td> @Model.MotherTongue </td>
                            
                        </tr>


                        <tr>
                            <td> @SchoolLC.Religion </td>
                            <td> @Model.Religion </td>
                            <td> @SchoolLC.Caste </td>
                            <td> @Model.Caste </td>
                           
                        </tr>

                        <tr>
                            <td> @SchoolLC.SubCaste </td>
                            <td> @Model.SubCaste </td>
                            <td> @SchoolLC.BirthPlace </td>
                            <td> @Model.BirthPlace </td>
                            
                        </tr>

                        <tr>
                            <td>@SchoolLC.DOBInDigits</td>
                            <td>@Model.DOBInDigits</td>
                            <td>@SchoolLC.DOBInWords</td>
                            <td>@Model.DOBInWords</td>
                        </tr>
                        <tr>
                            <td>@SchoolLC.PrevSchlName</td>
                            <td colspan="3">@Model.PrevSchlName</td>
                        </tr>
                        <tr>
                            <td>@SchoolLC.AdmittedInClass</td>
                            <td>@Model.AdmittedInClass</td>
                            <td>@SchoolLC.AdmissionDate</td>
                            <td>@Model.AdmissionDate</td>
                        </tr>

                        <tr>
                            <td>@SchoolLC.Progress</td>
                            <td>@Model.Progress</td>
                            <td>@SchoolLC.ConductBehaviour</td>
                            <td>@Model.ConductBehaviour</td>
                        </tr>

                        <tr>
                            <td>@SchoolLC.DateOfSchlLeaving</td>
                            <td>@Model.DateOfSchlLeaving</td>
                            <td> @SchoolLC.ClassFromLeft</td>
                            <td>@Model.ClassFromLeft</td>
                        </tr>

                        <tr>
                            <td>@SchoolLC.ReasonForLeaving</td>
                            <td colspan="3">@Model.ReasonForLeaving</td>
                        </tr>
                        <tr>
                            <td>@SchoolLC.Remark</td>
                            <td colspan="3"></td>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>
        
        <b>@SchoolLC.Date :</b>____________________ <b>@SchoolLC.Month :____________________</b> <b>@SchoolLC.Year :</b>____________________
      
        <table width="100%" style="margin-top:100px;">
            <tr>
                <td style="text-align:center;vertical-align:middle" >@SchoolLC.ClassTeacher</td>
                <td style="text-align:center;vertical-align:middle;font-weight:normal;">@SchoolLC.ClerkSign</td>
                <td style="text-align:center;vertical-align:middle">@SchoolLC.PrincipalSignStamp</td>
            </tr>
        </table>
        @*<p>
                @Html.ActionLink("Back to List", "Index")
            </p>*@
    </div>
</body>
</html>
